body {
  font-family: "Signika Negative", sans-serif;
  max-width: 100vw;
}

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

p {
  font-weight: 400;
  font-size: 2rem;
}

.fondo {
  margin: 0;
  width: 100%;
  height: 40vh;
  background-image: url("./assets/back_image.png");
  background-size: cover;
}

.nav {
  margin: 2rem;
  border-radius: 2rem;
  color: antiquewhite !important;
}

.main-table {
  /* padding: 0 1rem; */
}

.sticky{
  position: sticky;
  left: 0;
  background-color: rgb(246, 246, 246) !important;
}

.first-col {
  /* padding-left: 74.5px!important; */
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.link{
  text-decoration: none;
  color: #000;
}